/* Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Boiler plate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto Slab", "Inter"; */
}

html, body{
    width: 100%;
    height: 100%;
}

/* Reusable classes */
img{
    max-width: 100%;
}

button {
    padding: 12px 30px;
    background: #ff0000;
    border: 1px solid #fff;
    border-radius: 20px;
    color: #ffffff;
}
button:hover{
    background-color: #fff;
    color: #ff0000;
    border: 2px solid #ff0000;
}
.primary-font{
    font-family: "Inter";
}
.secondary-font{
    font-family: "Roboto Slab";
}
.color-1{
    color: #FF0000;
}
.color-2{
    color: #000000;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Herade Css Start */
header{
    height: 80vh;
    margin: 40px 60px;
    background-image: url(./assets/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 6px;
    color: white;
}
.subtitle{
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.title{
    font-size: 50px;
}

/* Main Start */
.offer{
    padding: 40px 0;
}
.off{
    font-size: 40px;
    color: #FF0000;
    margin-bottom: 20px;
}
.line{
   margin-bottom: 10px; 
}
.ctg{
    margin-bottom: 30px;
}

/* Welcome Start */
.welcome{
    height: 60vh;
    margin: 40px 60px;
    padding-left: 80px;
    background-image: url(./assets/welcombg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 6px;
    color: white;
    align-items: start;
    gap: 10px;
}

/* Bonus Section */
.bonus{
    padding: 40px 0;
    flex-direction: row;
    justify-content: space-evenly;
}
.intro{
    width: 300px;
}

/* Portfolio Section */
.portfolio{
    align-items: start;
    gap: 20px;
    padding: 40px 60px
}
.des {
    width: 835px;
}
.portfolios{
    flex-direction: row;
    gap: 20px;
}

/* Newsletter Section */
.newsletter{
    margin: 40px 60px;
    background-color: #0702111a;
    padding: 40px 0;
    border-radius: 6px;
}
.newsletter > div > p {
    text-align: center;
}
input[type="email"] {
    width: 300px;
    background-color: white;
    padding: 15px;
    border: none;
    border-radius: 20px 0 0 20px;
}
input[type="submit"] {
    margin-left: -8px;
    background-color: #FF0000;
    padding: 15px 35px;
    border: none;
    border-radius: 0 20px 20px 0;
    color: white;
}

/* Footer */
footer{
    background-color: #000000;
    color: #ffffff;
    padding: 60px 60px;
    margin: 80px 0 0 0;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.phone {
    display: flex;
    align-items: center;
    gap: 10px;
}
.mail {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}
.mail > a {
    text-decoration: none;
    color: white;
}
.social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px 0;
    border-top: 1px solid #ffffff33;
    border-bottom: 1px solid #ffffff33;
}
.last{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}