/* Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Boiler plate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto Slab", "Inter"; */
}

html, body{
    width: 100%;
    height: 100%;
}

/* Reusable classes */
img{
    max-width: 100%;
}
.primary-font{
    font-family: "Inter";
}
.secondary-font{
    font-family: "Roboto Slab";
}
.color-1{
    color: #FF0000;
}
.color-2{
    color: #000000;
}
.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Herade Css Start */
header{
    height: 80vh;
    margin: 40px 80px;
    background-image: url(./assets/Banner\ Image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 6px;
    color: white;
}
.subtitle{
    font-size: 24px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.title{
    font-size: 50px;
}

/* Main Start */
.offer{
    padding: 40px 0;
}
.off{
    font-size: 40px;
    color: #FF0000;
    margin-bottom: 20px;
}
.line{
   margin-bottom: 10px; 
}
.ctg{
    margin-bottom: 30px;
}

/* Welcome Start */
.welcome{
    height: 60vh;
    margin: 40px 80px;
    padding-left: 80px;
    background-image: url(./assets/welcombg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 6px;
    color: white;
    align-items: start;
    gap: 10px;
}

/* Bonus Section */
.bonus{
    padding: 40px 0;
    flex-direction: row;
    justify-content: space-evenly;
}
.intro{
    width: 300px;
}